<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/maintain-products']" style="font-weight: 700;">
      <i>Forestry Management App</i>  <i class="bi bi-tree-fill"></i>
    </a>
  </div>
</nav>




<!--heading-->

<body>
  <br>
  <h1><u> <i class="bi bi-tree-fill"></i>Add New Product <i class="bi bi-tree-fill"></i></u> </h1>






  <!--content-->
  <div class="center">  <div style="padding-left: 350px;" class="container" class="col-8">
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">

      <!--PRODUCT NAME -->
      <div class="form-group">
        <label for="name">Product Name</label><br>
        <input type="text" title="Product Name Does not Accepts numberic Character"  class="form-control" placeholder="product name" id="name" [(ngModel)]="product.name"
          name="name" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
        <div *ngIf="name.errors &&(name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Product Name Is Required</small>
        </div>
        <div class="col-10" *ngIf="errorMessage?.name">
          <span class="text text-danger">{{errorMessage.name}}</span>
        </div>
      </div>
      <br><br>



      <!--DESCRIPTION-->
      <div class="form-group">
        <label for="description">Description</label><br>
        <input type="text" class="form-control" id="description" placeholder="Description"
          [(ngModel)]="product.description" name="description" required #description="ngModel"
          [class.is-invalid]="description.invalid && description.touched">
        <div *ngIf="description.errors &&( description.invalid && description.touched)">
          <small class="text-danger" *ngIf="description.errors.required">Description Is Required</small>
        </div>
      </div>
      <br><br>



      <!--PRICE-->
      <div class="form-group">
        <label for="price">Price</label><br>
        <input type="number" min="" class="form-control" id="price" placeholder="$ price" [(ngModel)]="product.price"
          name="price" required #price="ngModel" [class.is-invalid]=" price.invalid && price.touched">
        <div *ngIf="price.errors &&  (price.invalid && price.touched)">
          <small class="text-danger" *ngIf="price.errors.required">$Price Is Required</small>
        </div>
      </div>
      <br><br>



      <!--QUANTITY-->
      <div class="form-group">
        <label for="quantity">Quantity</label><br>
        <input type="number" min="1" class="form-control" id="address" placeholder="stock availability"
          [(ngModel)]="product.quantity" name="quantity" required #quantity="ngModel"
          [class.is-invalid]="quantity.invalid && quantity.touched">
        <div *ngIf="quantity.errors &&  (quantity.invalid && quantity.touched)">
          <small class="text-danger" *ngIf="quantity.errors.required">Quantity Is Required</small>
        </div>
      </div>
      <br><br>


      <!--SUBMIT BUTTON-->
      <button [disabled]="addForm.invalid" class="btn btn-success btn-lg" type="submit">Add</button>



      <!--ERROR NOTIFICATION-->
      <div class="alert alert-warning" *ngIf="addForm.submitted && isAddProductFailed">
        Connot add this Product which already exist!<br />{{errorMessage}}
      </div>


    </form>
  </div>
</div>

</body>
