<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/maintain-products']" style="font-weight: 700;">
      <i>Forestry Management App</i>
    </a>
  </div>
</nav>




<!--heading-->
<body>
<h2 style="text-align: center;" >Add New Product <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
    class="bi bi-cart-plus" viewBox="0 0 16 16">
    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
    <path
      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
  </svg> </h2>



<!--content-->
<div class="container">
  <form #addForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Product Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
    </div>
    <br><br>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="product.description" name="description"
        required>
    </div>
    <br><br>
    <div class="form-group">
      <label>Price</label>
      <input type="email" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
    </div>
    <br><br>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="product.quantity" name="quantity" required>
    </div>
    <br><br>
    <button [disabled]="addForm.invalid" class="btn btn-success" type="submit">Add</button>
  </form>
</div>
</body>
