<!-- Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/admin']" style="font-weight: 700;">
      <i>Forestry Management App</i>
    </a>
  </div>
</nav>

<body>
  <br>
<h2 style="text-align: center;"><i><b>ADMIN DASHBOARD</b></i></h2>


<div style="padding-left: 250px;" class="container text-center">
  <div class="row">
    <div class="col-9">
      <div style="background-image: linear-gradient(45deg, rgb(154, 250, 253), rgb(248, 185, 253));"      class="card">
        <div class="card-body">
          <img src="{{itemImageUrl}}" alt="Product" width="200">
          <br><br>
          <h3 class="card-title"><b><i>Grocery Management</i></b></h3>
        </div>
        <div class="card-body">
          <a [routerLink]="['/maintain-products']" class="btn btn-success">Maintain Grocery</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>



<div style="padding-left: 250px;" class="container text-center">
  <div  class="row">
    <div class="col-9">
      <div class="card">
        <div style="background-image: linear-gradient(45deg, rgb(110, 247, 252), rgb(247, 154, 255))" class="card">
          <div class="card-body">
            <img src="{{itemImageUrl1}}" alt="Product" width="200">
            <br><br>
            <h3 class="card-title"><b><i>Customer Records</i></b> </h3>
          </div>
          <div class="card-body">
            <a [routerLink]="['/customer-list']" class="btn btn-success">Maintainance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
