<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/customer-list']" style="font-weight: 700;">
          <i>Forestry Management App</i>
      </a>
  </div>
</nav><br>



<body>

  <h2 style="text-align:center" ><b>CUSTOMER DETAILS</b> </h2>


  <br>

  <div class="cards" *ngIf="customer">

      <img src="{{itemImageUrl}}" alt="Customer" width="27%" height="27%"> <br>
      <br>
      <h3>Name: <b>{{customer.name}}</b> </h3>
      <p><b>Personal Id:</b> {{customer.email}} </p>

      <p><b>Location:</b> {{customer.address}}</p>
      <p><b>Town:</b> {{customer.town}}</p>
      <p><b>Postal Code:</b> {{customer.postalcode}}</p>
      <p><button>Call:

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
      </svg> {{customer.contact}}
</button>
      </p>

  </div>
</body>
