<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/admin']" style="font-weight: 700;">
      <i>Forestry Management App</i><i class="bi bi-tree-fill"></i>
    </a>
    <h3 id="hover" style="text-align: center;"><i><b>INVENTORY</b></i> &nbsp; <i class="bi bi-house-fill"></i> </h3>
    <button [routerLink]="['/add-product']" class="btn btn-outline-primary" type="submit"><b><i>Add New
          Product</i></b></button>
  </div>
</nav>





<!--content-->
<body>
  <br>
  <br><br>
  <div class="container">


<!--filter-->
<div class="form-group" style="padding-left:400px;">
  <input type="text" class="form-control" placeholder="search products" style="width: 300px;"
    [(ngModel)]="searchProduct" />
</div>
<br>

    <table class="table">
      <thead>
        <tr class="table-success">
          <th><i>Product Id</i></th>
          <th><i>Product Name</i></th>
          <th style="text-align: center;"><i>Description</i></th>
          <th><i>Price</i></th>
          <th><i>Stock Availability</i></th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-dark" *ngFor="let product of products | productFilter: searchProduct">
          <td><b>{{product.id}}</b></td>
          <td><b><i>{{product.name}}</i></b> <i class="bi bi-tree-fill"></i></td>
          <td><b><i>{{product.description}}</i></b></td>
          <td><b><i>{{product.price}}</i></b></td>
          <td><b><i>{{product.quantity}} Tons</i></b></td>
          <td><button (click)="updateProduct(product.id)" class="btn btn-outline-info"
              type="submit"><b><i>Update</i></b></button></td>
          <td><button (click)="deleteProduct(product.id)" class="btn btn-outline-danger"
              type="submit"><b><i>Delete</i></b></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
