<!--Navigation Bar-->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/cart']" style="font-weight: 700;">
          <i>Forestry Management App</i>
      </a>
  </div>
</nav>
<br>
<div class="container">
  <h2 style="text-align: center;">

      Customer Information <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg></h2>
  <form #addForm="ngForm" (ngSubmit)="onSubmit() ">
      <div class="form-group "> <br>
          <label> <b>Name <sup style="color: red;">*</sup></b> </label>
          <input type="text " class="form-control " id="name " [(ngModel)]="customer.name " name="name " required>
      </div> <br>

      <div class="form-group ">
          <label> <b>Email <sup style="color: red;">*</sup></b></label>
          <input type="text " class="form-control " id="email " [(ngModel)]="customer.email " name="email " required>
      </div> <br>

      <div class="form-group ">
          <label><b>Address <sup style="color: red;">*</sup></b></label>
          <input type="text " class="form-control " id="address " [(ngModel)]="customer.address " name="address " required>
      </div> <br>


      <div class="form-group ">
          <label> <b>Town <sup style="color: red;">*</sup></b></label>
          <input type="text " class="form-control " id="town " [(ngModel)]="customer.town " name="town " required>
      </div> <br>


      <div class="form-group ">
          <label> <b>Postal Code <sup style="color: red;">*</sup></b></label>
          <input type="text " class="form-control " id="postalcode " [(ngModel)]="customer.postalcode " name="postalcode " required>
      </div> <br>


      <div class="form-group ">
          <label> <b>Contact <sup style="color: red;">*</sup></b></label>
          <input type="text " class="form-control " id="contact " [(ngModel)]="customer.contact " name="contact " required>
      </div> <br>

      <button [disabled]="addForm.invalid " class="btn btn-success " type="submit ">Submit</button>


  </form> <br>

  <p style="color: red;"><i> All the fields with (*) are MANDATORY </i></p>
</div>
